In [1]:
print("hello World")

hello World

In [2]:
print("Latha")

Latha

In [ ]:
Print('hello world')

In [3]:
print(hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2497053111.py, line 1)

In [5]:
print(10)

10

In [6]:
Print(data)

NameError: name 'Print' is not defined

##### Python is case-sensitive

In [8]:
print(1)

1

#### string should always inside quotation

In [9]:
print('data')
print("data")

data
data

##### single or double both would be fine

### Variables

In [10]:
### 1.Variable name should not have space
first name="Prema"

SyntaxError: invalid syntax (3398292555.py, line 2)

In [11]:
### 2.Variable name should start with A-Z,a-z or _
Firstname="Prema"
Firstname

'Prema'

In [12]:
name="data"
name

'data'

In [13]:
_name="data"
_name

'data'

In [14]:
+name="Latha"
+name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1564373013.py, line 1)

In [15]:
### 3. Variable name should not start with number
1name="latha"
1name

SyntaxError: invalid decimal literal (3228797341.py, line 2)

In [16]:
name1="data"
name1

'data'

In [17]:
n2ame="data"
n2ame

'data'

In [18]:
### 4.Only allowed spl char is _
first+name="artificial"
first+name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2754303661.py, line 2)

In [19]:
first_name="artificial"
first_name

'artificial'

### Data Types

In [20]:
x=10.5
type(x)

float

In [21]:
y=10
type(y)

int

In [22]:
z=True
type(z)

bool

In [23]:
z="True"
type(z)

str

In [24]:
z=true
type(z)

NameError: name 'true' is not defined

In [25]:
x=10
type(x)
x

10

In [26]:
x,type(x)

(10, int)

In [27]:
x,y=10,20
y
x

10

In [28]:
x,y

(10, 20)

In [29]:
y,x

(20, 10)

### Data type conversion
##### 1) Implicit ->Python interpreter without Programmer's intervention
##### 2) Explicit -> user-defined ->casting

In [ ]:
### Implicit conversion
##### int and float
x=1.5
y=3
z=x*y
type(z)

In [ ]:
x="data"
y=1.5
z=x+y
type(z)

In [ ]:
x=20
y=10
z=x/y
type(z)

In [ ]:
z

In [ ]:
### Explicit conversion
x="2"
y=1.5
z=x+y
type(z)

In [ ]:
z=int(x)+y
z

### Type casting
#### int(),float(),str(),bool()

In [ ]:
int-> float ->possible
int->bool->possible
int->string->possible

In [ ]:
x=5
str(x)

In [ ]:
x=0
bool(x)

In [ ]:
float->all possible


str-> Not really working

bool->All possible

In [ ]:
x=True
str(x)

### Functions

In [ ]:
##### Block of reusable code that runs when called

sum([1,2,3,4],5)
###### sum- function name
###### Return value of the function

### Types of functions

##### Builtin function
##### User-defined function
##### Lambda functions

In [ ]:
print("hi")

In [ ]:
print("I love"+"Python")

In [ ]:
print("My salary is "+str(10000))

In [ ]:
#### Arithmetic Operators
x=2
y=5
z=x**y
z

##### Modulus-> x%y -> x>y(Remainder)   
##### x<y-> x

##### floor division x>y-> Quotient ,x<y->0

In [ ]:
x="Prema "
y=3
z=x/y
z

In [ ]:
x="Prema "
y="Latha"
z=x*y
z

### Runtime Variable Assignment

In [ ]:
name=input("Enter  your name: ")
print("Welcome",name)

In [ ]:
price=float(input("Enter Price: "))
quantity=float(input("Enter quantity: "))

In [ ]:
total_cost=price*quantity

In [ ]:
total_cost

In [ ]:
price=int(input("Enter Price: "))
quantity=int(input("Enter quantity: "))

In [ ]:
x=10
y=5
z=x+y
z

In [ ]:
x=10
y=5
z=x-y
z

In [ ]:
x=10
y=5
z=x*y
z

In [ ]:
x=10
y=5
z=x/y
z

In [ ]:
x=2
y=5
z=x**y
z

In [ ]:
x=15
y=5
z=x%y
z

In [ ]:
x=9
y=10
z=x%y
z

In [ ]:
x=1

y=10

x%y

In [ ]:
x=160
y=20
x//y

In [ ]:
x%y-> x >y-> Remainder  x<y->x
x//y ->x<y-> 0 x>y->quo

### Relational Operators

In [ ]:
x=10
y=2
x!=y

### Logical Operators

In [ ]:
x=True
y=False
z=True

In [ ]:
x and y

In [ ]:
x and z

In [ ]:
y and z

In [ ]:
x or y

In [ ]:
y or z

In [ ]:
x or z

In [ ]:
not(x)

In [ ]:
not(y)

#### Membership operator

In [ ]:
vowels="aeiou"
print("a" in vowels)

In [ ]:
vowels="aeiou"
print("L" in vowels)

In [ ]:
vowels="aeiou"
print("a" not in vowels)

In [ ]:
vowels="aeiou"
print("l" not in vowels)

In [ ]:
#### Assignment Operators
a=a+b   -> a+=b

In [ ]:
a=1
a%=2
a

In [ ]:
x=5
x//=2
x

In [ ]:
Go to Github upload file

In [ ]:
  # Output: True

In [ ]:
is_student = True
is_employed = False
can_vote = is_student or is_employed
print(can_vote)  # Output: True

In [ ]:
 # Output: True

In [ ]:
temperature = 25
is_summer = True
outdoor_activity = (temperature > 20) and (is_summer or (temperature < 30))
print(outdoor_activity)  # Output: True

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("CardioGoodFitness-1.csv")

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.sample(5)

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe(include="all")

In [ ]:
df.isnull().sum()

In [1]:
A) 2ndPlace
B) totalAmount
C) user@name
D) while

SyntaxError: unmatched ')' (1230414266.py, line 1)

In [ ]:
first_name = "John"
last_name = "Doe"
full_name = first_name + last_name
A) "JohnDoe"
B) "John Doe"
C) JohnDoe
D) TypeError

In [ ]:
A) 2 + "hello"
B) 7.5 - 3
C) True * False
D) "apple" / 2